<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Tarea No. 1 del Módulo 2</h1>
      <ol>
        <li>Crear dos nuevos componentes: Warning-Alert, Success-Alert</li>
        <li>Mostrarlos uno debajo del otro en el AppComponent</li>
        <li>Muestra un mensaje de advertencia o de éxito en el AppComponent</li>
        <li>
          Aplique estilo al componente de forma adecuada (tal vez algún texto
          rojo/verde)
        </li>
      </ol>
      <p>Utiliza el estilo de plantilla externo o interno</p>
      <p>Siéntase libre de crear componentes, anidarlos entre sí o jugar con diferentes tipos de selectores</p>
      <hr>
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
    </div>
  </div>
</div> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Tarea No. 2 del Módulo 2</h1>
      <ol>
        <li>
          Agregue un campo de entrada que actualice una propiedad ('username') a
          través del enlace de datos bidireccional
        </li>
        <li>
          Muestra la propiedad del nombre de usuario a través de la
          interpolación de cadenas (en un párrafo debajo de la entrada)
        </li>
        <li>
          Agregue un botón en el que solo se puede hacer clic si el nombre de
          usuario NO es una cadena vacía
        </li>
        <li>
          Al hacer clic en el botón, el nombre de usuario debe restablecerse a
          una cadena vacía
        </li>
      </ol>
      <hr />
      <label>Username</label>
      <input type="text" class="form-control" [(ngModel)]="username"/>
      <p>{{username}}</p>
      <button type="button" class="btn btn-primary" [disabled]="username === ''" (click)="resetUsername($event)">Reset Username</button>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Tarea No. 3 del Módulo 2</h1>
      <ol>
        <li>Agregue un botón que diga mostrar detalles</li>
        <li>
          Agregue un párrafo con cualquier contenido de su elección (por
          ejemplo, "Secret password = tuna")
        </li>
        <li>
          Alterne la visualización de ese párrafo con el botón creado en la
          primera aplicación
        </li>
        <li>
          Registre todos los clics del botón en una matriz y genere esa matriz
          debajo del párrafo secreto (tal vez registre una marca de tiempo o
          simplemente un número incrementado)
        </li>
        <li>
          A partir del quinto elemento de registro, asigne a todos los elementos
          de registro futuro un fondo azul (a través de ngStyle) y un color
          blanco (ngClass)
        </li>
      </ol>
      <hr />
      <button type="button" class="btn btn-primary" (click)="passwordSee($event)">Display Details</button>
      <p *ngIf="secretpassword">"Secret password = tuna"</p>
      <div *ngFor="let logs of log; let i = index" [ngStyle]="{backgroundColor: i >=4 ? 'blue' : 'transparent'}" [ngClass]="{'number': i >= 4}">{{logs}}</div>
    </div>
  </div>
</div>
