<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Tarea No. 1 del Módulo 2</h1>
      <ol>
        <li>Crear dos nuevos componentes: Warning-Alert, Success-Alert</li>
        <li>Mostrarlos uno debajo del otro en el AppComponent</li>
        <li>Muestra un mensaje de advertencia o de éxito en el AppComponent</li>
        <li>
          Aplique estilo al componente de forma adecuada (tal vez algún texto
          rojo/verde)
        </li>
      </ol>
      <p>Utiliza el estilo de plantilla externo o interno</p>
      <p>Siéntase libre de crear componentes, anidarlos entre sí o jugar con diferentes tipos de selectores</p>
      <hr>
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
    </div>
  </div>
</div>
